<div class="container mx-auto text-center" style="width: 600px;">
  <div class="row">
      <div class="kakomi-tape3">
          <span class="title-tape3">概要</span>
          自分のお気に入りのお店や場所をMAPに投稿し</br>
          MAP上で他のユーザーと共有できるサイトです!</br>
          たくさん投稿しいいねやコメントをもらおう♪</br>
          </br>
          さらに、投稿しないユーザーでもMAPを活用し</br>
          旅行や引っ越しなど知らない場所へ行く際に</br>
          他のサイトには載っていないような場所へ</br>
          行く際、是非参考にしてください！
      </div>
      
    </div>
</div>